*{
    margin: 0;
    padding: 0;
}

/* header */




/* main */ 

main{
    background-color: rgb(48, 52, 70);
}

/* tabla */

table{
    width: 100%;
}

.nombre_cancion a{
    text-decoration: none;
    color: rgb(184, 192, 224);
}

/* image */

.portada {
    border-radius: 5px;
    height: 45px;
    width: 45px;
}

.icon{
    height: 25px;
    width: 25px;
}

/* texto */ 

th{
    color: rgb(202, 211, 245);
}

td{
    color: rgb(184, 192, 224);
    text-align: center;
}


/*  footer */