@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* header */

header {
    background-color: rgb(17, 17, 27);
    padding: 10px;
    border-bottom: 1px solid rgb(108, 112, 134);
}

h1 {
    color: rgb(204, 163, 228);
    text-align: center;
    font-family: Rajdhani;
    font-size: 50px;
    text-shadow: rgb(216, 174, 241) 1px 0 10px;
}

/* main */

main {
    background-color: rgb(30, 30, 46);
}

/* tabla */

table {
    width: 100%;
    border-collapse: collapse;
}

.nombre_cancion a {
    text-decoration: none;
    color: rgb(184, 192, 224);
}

th {
    color: rgb(202, 211, 245);
    border-bottom: 1px solid rgb(108, 112, 134);
    padding: 5px;
    font-size: 25px;
}

td {
    color: rgb(184, 192, 224);
    text-align: center;
    border-bottom: 1px solid rgb(108, 112, 134);
}

tr {
    transition: 750ms;
}

tr:hover {
    transition: 500ms;
    color: rgb(255, 255, 255);
    background-color: rgb(75, 76, 104);
    border-bottom: 1px solid rgb(148, 154, 185);
    padding-top: 5px;
    padding-bottom: 5px;
}

.portada:hover {
    height: 125px;
    width: 125px;
    transition: 1s;
    opacity: 1;
}

/* image */

.portada {
    border-radius: 5px;
    height: 45px;
    width: 45px;
    transition: 250ms;
    opacity: 0.8;
}

.icon {
    height: 25px;
    width: 25px;
}

/*  footer */

footer {
    background-color: rgb(17, 17, 27);
    color: rgb(184, 192, 224);
    text-align: center;
    padding: 10px;
}

#texto_footer{
    color: rgba(184, 192, 224, 0.11);
    text-align: left;
    font-size: 13px;
}